<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
id="WebApp_ID" version="3.0">
	<context-param>
		<param-name>databaseFactoryClass</param-name>
		<param-value>movieDB.db.JDBCDAOFactory</param-value>
	</context-param>
	<context-param>
		<param-name>databaseURL</param-name>
		<param-value>jdbc:mysql://localhost/test?user=root&amp;password=$hollywood1945</param-value>
	</context-param>
	<listener>
		<listener-class>
			movieDB.web.webappServletContextListener
		</listener-class>
		
	</listener>
	<servlet>
		<servlet-name>ActorSearch</servlet-name>
		<servlet-class>movieDB.web.ActorSearch</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ActorSearch</servlet-name>
		<url-pattern>/ActorSearch.do</url-pattern>
	</servlet-mapping>
</web-app>